<div class='col-lg-4 col-md-4 col-sm-12 col-xs-12'>
                <div class="panel panel-default" style='border:0px;'>
                    <div class="panel-heading nrf-panel-heading">
                        <h4>About Nandu Ray Foundation</h4>
                    </div>
                    <div class="panel-body home-body">
                        <section>
                            <p>
                                <b>नंदू राय फाउंडेशन</b> एक गैर लाभ संस्ता है जो समाज के पिछड़े हुए लोगो की बिना किसी सेवार्थ के हमेशा सेवा करता है<br>
                                नंदू राय फाउंडेशन का उदेस्य यह है की जो सेवा नंदू राय ने इस दुनिया में रहते हुए किये उसको हमलोग और आगे ले जाये और समाज में पिछड़े हुए लोगो की बिना किसी स्वार्थ की मदद किया जाये
                            </p>
                            <p>
                                नंदू राय का जन्म एक मध्यम वर्गीय किसान परिवार में सन 1951 में हुआ. वो अपनी प्रारंभिक शिक्षा सतजोड़ा हाई स्कूल से प्राप्त किये .सन 1978 में वो पहली बार फैजुल्लाहपुर के मुखिया पद के लिए निर्वाचित हुए . सन 1978 से ले कर सन 2001 तक वो मुखिया रहे.
                                सन 2001 के पंचायत चुनाव में पंचायत समिति और मुखिया दोनों पद से निर्वाचित हुए.सन 2001 में ही बैकुंठपुर प्रखंड प्रमुख के पद पे निर्वाचित और इसलिए उन्होंने फैजुल्लाहपुर के मुखिया पद से इस्तीफा दे दिए. सन 2001 से 2006 तक वो प्रमुख रहे.
                                सन 2010 में दिल का दौरा परने से उनकी अचानक मौत हो गयी
                            </p>
                        </section>
                    </div>
                </div>
</div>
<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="panel panel-default" style='border:0px;'>
                    <div class="panel-heading nrf-panel-heading">
                        <h4>News and Events</h4>
                    </div>
                    <div class="panel-body home-body">
                        <article>
                            <h3 style="text-align: center;color: #FF5722;">Nandu Ray Foundation presents </h3>
                            <h4 style="text-align: center;color: #00BCD4;">Building Better Tomorrow</h4>
                            <h6 style="text-align: center;color: #009688;">For empowerment of deserving students</h6>
                        </article>
                        <section>
                            <p style="text-align: justify;">
                                <b>Nandu Ray Foundation</b> is a development organisation and it is working in rural areas to develop the
                                society and to help the deserving students to persue their career and to achieve their dream.<br>
                                <br>
                                We are a team of highly energitic professional and they are working to change shape of our society. In continuation to the same, we have come up with a program <b>"Building Better Tomorrow"</b>.<br>
                                Under this program, we select some really talented student from our school K N sharma high school and we will help to make their career successful.
                            </p>
                        </section>
                        <h4 style="text-align: center;"><u>***Program and their schedule***</u></h4>
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <td style='display:none'>S Code</td>
                                    <td>S Name</td>
                                    <td>Date</td>
                                    <td style='width:82px;'>Time</td>
                                    <td>Trainer</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat='schedule in schedule'>
                                    <td style='display:none'>{{schedule.sCode}}</td>
                                    <td>{{schedule.sName}}</td>
                                    <td>{{schedule.date}}</td>
                                    <td>{{schedule.time}}</td>
                                    <td>{{schedule.trainer}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
</div>
<div class='col-lg-4 col-md-4 col-sm-12 col-xs-12'>
                <div class="panel panel-default" style='border:0px;'>
                    <div class="panel-heading nrf-panel-heading">
                        <h4>Our Team Memebers</h4>
                    </div>
                    <div class="panel-body home-body">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">

                                <div class="item active">
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-6">
                                            <figure>
                                                <img src="Images/prem2.jpg" class="img-rounded img-responsive" alt="Cinque Terre">
                                                <figcaption>
                                                    <h4><b>Prem Prakash</b></h4>
                                                    <h5>Senior Software Engineer</h5>
                                                    <h5>B.E(Electronics and Communication)</h5>
                                                    <h5>Microsoft Certified Software Developer</h5>
                                                </figcaption>
                                            </figure>
                                        </div>
                                        <div class="col-sm-6 col-xs-6">
                                            <figure>
                                                <img src="Images/arjun.jpg" class="img-rounded img-responsive" alt="Cinque Terre">
                                                <figcaption>
                                                    <h4><b>Vivek Kumar</b></h4>
                                                    <h5>Software Engineer</h5>
                                                    <h5>M.C.A</h5>
                                                </figcaption>
                                            </figure>
                                        </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-6">
                                            <figure>
                                                <img src="Images/amit.jpg" class="img-rounded img-responsive" alt="Cinque Terre">
                                                <figcaption>
                                                    <h4><b> Amit Singh</b></h4>
                                                    <h5>Social Worker (समाज सेवक)</h5>
                                                    <h5>B.Sc Math</h5>
                                                </figcaption>
                                            </figure>
                                        </div>
                                        <div class="col-sm-6 col-xs-6">
                                            <figure>
                                                <img src="Images/amarendra.jpg" class="img-rounded img-responsive" alt="Cinque Terre">
                                                <figcaption>
                                                    <h4><b>Amarendra Yadav</b></h4>
                                                    <h5>Social Worker (समाज सेवक)</h5>
                                                    <h5>B.Sc Math</h5>
                                                </figcaption>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
</div>