.panel-body.user-home-body{
	background-color: #02374f;
}

table thead{
	    background-color: #11a8ab;
}

.user-home-body label{
	color:  #FF9800;
}

@media only screen and (max-width: 460px){
    .hide-xs{
         display:none;	
    }
}