<div class="row">
	<div class="col-xs-12">
         <div class="panel panel-default" style='border:0px;'>
             <div class="panel-heading nrf-panel-heading">
                <h4>Create New Program</h4>
             </div>
             <div class="panel-body user-home-body">
                <form role="form">
                	<div class="form-group"></div>
                </form>
             </div>
         </div>
	</div>
	<div class="col-xs-12">
         <div class="panel panel-default" style='border:0px;'>
             <div class="panel-heading nrf-panel-heading">
                <h4>New user registration request</h4>
             </div>
             <div class="panel-body user-home-body">
                <table class='table'>
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>Id</td>
                            <td>Profession</td>
                            <td>Status</td>
                            <td>Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat='userDetails in userDetails'>
                            <td>{{userDetails}}</td>
                            <td>{{userDetails}}</td>
                            <td>{{userDetails}}</td>
                            <td>{{userDetails}}</td>
                            <td>{{userDetails}}</td>
                        </tr>
                    </tbody>
                </table>
             </div>
         </div>
	</div>
</div>